
body {
    margin: 0px;
}

.social-media-container { 
    position: absolute;
    right: -165px;
    list-style-type: none;
}

.wrapper {
    position: relative;
    overflow: hidden;
    height: 220px;
    top: 550px;

}

.social-media {
    position: relative;
    color: white;
    padding: 10px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    
  }

a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.social-media:hover {
      transform: translate(-160px); 
                     
}

.social-media.blog {
    background-color: #e17b77;
    }

.social-media.facebook {
	background-color: #3b5998;
}

.social-media.twitter {
    background-color: #00aced;
}

.social-media.github {
	background-color: #333;
}

.social-media.linkedin {
	background-color: #007bb6;
}

.fa-laptop-code::before {
       content: "\f5fc";
}

.fa-twitter::before {
    content: "\f099";
}
.fa-linkedin-in::before {
    content: "\f0e1";
}
.fa-facebook-f::before {
    content: "\f39e";
    }
.fa-github::before {
    content: "\f09b";
}